@tailwind base;
@tailwind components;
@tailwind utilities;


html{
  box-sizing: border-box;
}

:root {
  --tsc-error-color: #DC3545;
  --tsc-pink: #F70087;
  --tsc-tomato-pink: #F40256;
  --tsc-mid-grey: #C3C3C3;
  --tsc-light-grey: #F8F8F8;
 }
